<form>
    <label class="label">Accion:</label>
    <nb-select selected="2" fullWidth>
      <nb-option value="1">Se evaluo telefonos</nb-option>
      <nb-option value="2">Se contacto a terceros</nb-option>
      <nb-option value="3">Se contacto a Familiar</nb-option>
      <nb-option value="4">Se contacto a titular</nb-option>
      <nb-option value="5">Se contacto a titular</nb-option>
    </nb-select>



    <label class="label">Reaccion:</label>
    <nb-select selected="2" fullWidth>
      <nb-option value="1">Reaccion 1</nb-option>
      <nb-option value="2">Reaccion 2</nb-option>
      <nb-option value="3">Reaccion 3</nb-option>
      <nb-option value="4">Reaccion 4</nb-option>
      <nb-option value="5">Reaccion 5</nb-option>
    </nb-select>


    <label class="label">Razon:</label>
    <nb-select selected="2" fullWidth>
      <nb-option value="1">Razon 1</nb-option>
      <nb-option value="2">Razon 2</nb-option>
      <nb-option value="3">Razon 3</nb-option>
      <nb-option value="4">Razon 4</nb-option>
      <nb-option value="5">Razon 5</nb-option>
    </nb-select>

    <label class="label">Observacion:</label>
    <textarea rows="5" nbInput fullWidth shape="round" placeholder="Escribe tus observaciones"></textarea>

    <label class="label">Observacion permanente:</label>
    <textarea rows="5" nbInput fullWidth shape="round" placeholder="Escribe tus observaciones"></textarea>

<br>
    <button type="submit" nbButton status="primary" ><i class="fas fa-save"></i><span style="margin-left: 5px;">  Guardar </span></button>
  </form>